/* TAG */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #2e3d4e;
}

ul{
  list-style: none;
}

li{
  display: inline-block;
  padding: 0 20px;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 40px;
  padding-top: 40px;
}

h4{
  text-transform: uppercase;
}

/* CLASS */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 75%;
  margin: auto;
}

.nav-top{
  background-color: #f5f9fd;
  line-height: 80px;
  border-bottom: 1px solid #2e3d4e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-bottom{
  padding-top: 80px;
  background-color: white;
  line-height: 80px;
}

.special{
  padding-left: 0;
  line-height: 20px;
  border-right: 2px solid #2e3d4e;
}

.search{
  color: #1593af;
}

.btn{
  padding: 10px;
  border: 1px solid #fe785a;
  border-radius: 5px;
}

.white{
  color: #fe785a;
  background-color: white;
}

.orange{
  color: white;
  background-color: #fe785a;
}

.large{
  padding: 20px;
}

.full{
  padding: 20px 50px;
}

.logo{
 transform: translateY(50%);
}

.jumbotron{
  position: relative;
  height: 700px;
  box-shadow: inset 0 10px 8px rgba(0,0,0,0.1);
  background-image: url(../img/jumbotron.png);
  background-color: #ffeeea;
  background-repeat: no-repeat;
  background-position: right top;
}

.box{
  width: 45%;
}

.subtitle{
  font-size: 13px;
  line-height: 25px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.description{
  font-size: 10px;
  padding: 50px 0;
}

.jumbotron::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 85px;
  background-color: #a1e8df;
  border-top: 3px solid #2e3d4e;
  border-bottom: 3px solid #2e3d4e;
}

.presentation{
  background-color: #f2f7fd;
}

.top{
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.top img{
  width: 30%;
}

.crm{
  width: 100%;
  background-color: white;
  margin: 20px 0;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 0px 5px lightgrey;
}

.crm .float-left{
  width: 30%;
  padding: 60px;
  text-align: center;
}

.img-margin{
  margin-bottom: 40px;
}

.crm .float-right{
  width: 70%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 145px;
  line-height: 25px;
}

.crm-subtitle{
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: inline-block;
}

.crm .float-right ul li i{
  font-size: 15px;
  color: #fe785a;
}

.line{
  width: 300px;
  float: right;
  margin-top: 12px;
}

.hub{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: inline-block;
}

.col{
  width: 30%;
  text-align: center;
  padding: 40px 35px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px lightgrey;
}

.col:nth-child(2){
  margin: 0 5%;
}

.hub-img{
  height: 130px;
  padding-bottom: 20px;
}

.col hr{
  margin-bottom: 30px;
}

.list{
  display: block;
  padding: 0;
  text-align: left;
}

.list:first-child{
  margin-top: 20px;
}

.list:last-child{
  margin-bottom: 50px;
}

.list i{
  font-size: 15px;
  color: #fe785a;
}

.hub-subtitle{
  font-size: 13px;
  display: inline-block;
}

.numbers{
  text-align: center;
  background-image: linear-gradient(45deg, #47a3ba, #53baa5);
}

.font-white{
  color: white;
  padding-top: 30px;
  padding-bottom: 0;
}

.first-row{
  margin-top: 50px;
  border-bottom: 1px solid white;
}

.second-row .info-box:last-child{
  padding-bottom: 70px;
}

.info-box{
  width: 25%;
  float: left;
  padding: 20px;
}

.info-box:not(.info-box:nth-child(4)):not(.info-box:nth-child(8)){
  border-right: 1px solid white;
}

.small-padding{
  padding-top: 10px;
}

.info-box h2::after{
  content: "+";
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}






.
