*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #2e3d4e
}

ul{
  list-style: none;
}

li{
  display: inline-block;
  padding: 0 20px;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 40px;
  padding-top: 40px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.container{
  width: 75%;
  margin: auto;
}

.nav-top{
  background-color: lightgrey;
  line-height: 90px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-bottom{
  padding-top: 90px;
  background-color: white;
  line-height: 80px;
}

.special{
  padding-left: 0;
  line-height: 20px;
  border-right: 2px solid black;
}

.search{
  color: #1593af;
}

.btn{
  padding: 10px;
  border: 1px solid #fc6348;
  border-radius: 5px;
}

.white{
  color: #fc6348;
  background-color: white;
}

.orange{
  color: white;
  background-color: #fc6348;
}

.large{
  padding: 20px;
}

.float-left img{
 transform: translateY(50%);
}

.jumbotron{
  position: relative;
  height: 700px;
  background-image: url(../img/jumbotron.png);
  background-color: #ffeeea;
  background-repeat: no-repeat;
  background-position: right top;
}

.box{
  width: 45%;
}

.subtitle{
  font-size: 13px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.description{
  font-size: 10px;
  padding: 50px 0;
}

.jumbotron::before{
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 85px;
  background-color: #a1e8df;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.main-block{
  width: 100%;
  height: 800px;
  background-color: azure;
}
